page-signup {
  ion-header {
    .toolbar {
      position: absolute;

      .toolbar-background {
        background: #ffffff;
      }
      .toolbar-title {
        color: black;
      }
    }
  }
}
